[submodule "autonomous-asplos21-linux"]
	path = linux
	url = https://github.com/BorisPis/autonomous-asplos21-linux.git
[submodule "nvme-cli"]
	path = nvme-cli
	url = https://github.com/linux-nvme/nvme-cli
[submodule "fio"]
	path = fio
	url = https://github.com/axboe/fio.git
[submodule "openssl"]
	path = openssl
	url = https://github.com/openssl/openssl
[submodule "iperf"]
	path = iperf
	url = git@github.com:BorisPis/iperf.git
[submodule "nginx"]
	path = nginx
	url = git@github.com:BorisPis/nginx.git
	branch = borispis/1.17.8-asplos21
[submodule "autonomous-asplos21-TestSuite"]
	path = TestSuite
	url = https://github.com/BorisPis/autonomous-asplos21-TestSuite.git
	branch = asplos21
[submodule "wrk"]
	path = wrk
	url = git@github.com:BorisPis/wrk.git
	branch = asplos21
